[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = release/19.x
[submodule "third_party/onnx-mlir"]
	path = third_party/onnx-mlir
	url = https://github.com/onnx/onnx-mlir.git
	branch = 0.4.3.0
[submodule "third_party/openfhe"]
	path = third_party/openfhe
	url = https://github.com/openfheorg/openfhe-development.git
